  server {

    #listen       [::]:80; #uncomment for IPv6 support
    listen       8080;

    root /e/ap/site/pages;
    index  index.php index.html index.htm;
    access_log /e/ap/site/logs/access.log customLog;
    error_log /e/ap/site/logs/error.log;

    disable_symlinks off;

    location = /robots.txt {
      allow all;
      log_not_found off;
      access_log off;
    }

    location = /healthz {
      return 200;
    }

    # deny dot-files
    location ~ /\. {
      deny all;
      access_log off;
      log_not_found off;
    }

    location / {
      try_files $uri $uri/ /index.php?$args;
    }

    # Deny access to any files with a .php extension in the uploads and assets directory
    # Works in sub-directory installs and also in multisite network
    # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
    location ~* /(?:uploads|assets)/.*\.php$ {
    	deny all;
    }

    location ~* \.(jpg|jpeg|gif|png|css|js|ico|xml)$ {
        access_log        off;
        log_not_found     off;
        expires           360d;
    }

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    location ~ [^/]\.php(/|$) {
      fastcgi_split_path_info ^(.+?\.php)(/.*)$;
      #if (!-f $document_root$fastcgi_script_name) {
      #  return 404;
      #}
      fastcgi_pass PHPFPM_BACKEND:9000;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
    }